// views/blogAdd.jade
extends layout

block content
  h1= title
  p Are you sure you want to delete this blog?

  // Add a form for deletion
  form(action='/blog/delete/#{blog._id}', method='DELETE')
    button(type='submit') Delete Blog