extends layout

block content
  h1= title
  p Are you sure you want to delete this blog?

  // Add a form for deletion
  form(action='/blog/delete/' + blogid, method='POST')
    button(type='submit') Delete Blog
