extends layout

block content
  h1= title
  .card(style='width: 50%')
    form(action='/blog/add/', method='post', role='form')
      .form-group
        label(for='title', class='text-dark') Title
        input.form-control(id='title', name='title')

        label(for='entry', class='text-dark') Entry
        textarea.form-control(id='text', rows='3', name='text')

      input.btn.btn-primary.bg-dark.border-dark(type='submit', value='Add Blog')
