extends layout

block content
  h1= title
  div.container
    p
    div.card.border-primary(style='width: 50%')
      form(action='/blogEdit/' + blog._id, method='post', style='padding: 20px; font-size: 18px')
        div.form-group
          label(for='summary', class='text-primary') Blog Title
          input.form-control#title(name='title', value=blog.title)
          p
          label(for='text', class='text-primary') Blog Text
          textarea.form-control#text(rows='3', name='text') #{blog.text}
          p
        input(type='submit', class='btn btn-primary', value='Update Blog')
